body {
    margin: 0;
}
body * {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --primary-color:#18157C;
    --secondary-color: #fff;
    --light-blue-color: #2B59C3;
    --green-color: #A7D8A2;
    --yellow-color: #E5D34E;
}

/*HEADER*/
header {
    display: flex;
    width: 100%;
    background-color: yellow;
    flex-wrap: wrap;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    
}
header>* {
    flex-grow: 1;
}

.logo {
    width: 55%;
    
}
.logo p {
    font-family:'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
    text-align: left;
    padding-left: 1rem;
    text-decoration: none;
}
.logo a {
    text-decoration: none;
    font-family:'Oswald', sans-serif;
}

.logo a:visited {
    color: var(--primary-color);
    text-decoration: none;
}
.wrapper-for-menu {
    width: 45%;
    text-align: right;
}
nav {
    display: none;
}
[name=menu-toggle] {
    display: none;
}
[name=menu-toggle]:checked + nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--primary-color);
    color: #4D82EF;
}
nav li {
    list-style-type: none;
    margin-bottom: 1em;
}
nav a {
    text-decoration: none;
}
nav a:focus {
    color: rgb(234, 222, 113);
    font-size: 1.2em;
}

nav a:visited {
    color: #4D82EF;
    text-decoration: none;
}
.fa-bars {
    padding: 1.5em;  
    padding-bottom: 0.5em;
}
nav .menu-hide {
    position: fixed;
    top: 1em;
    right: 1em;
    margin: 1em;
    color: rgba(234, 222, 113);
}

header .btn-donate-now {
    color: var(--primary-color);
    border: 0;
    background-color: var(--secondary-color);
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: bold; 
    padding-left: 1rem;
    text-align: left;
    display: flex;
    justify-content: left;
}
header .btn-donate-now:focus {
    outline: none;
}

/*CALL TO ACTION*/
.call-to-action {
    background-image: url(https://loremflickr.com/1000/400/jungle);
    height: 400px;
    display: flex;
    flex-direction: column;
}
.fading-message p {
    font-size: 3em;
    font-weight: 900;
    color: var(--secondary-color);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 2em;
    padding: 0 1em;
}
.wrapper-for-button {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    
}
.call-to-action .btn-donate-now {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1em;
    border: none;
    padding: .5em 1.5em;
    
}

/*SECTIONS*/
.wrapper-for-sections {
    display: flex;
    flex-direction: column;
}
.overlay {
    height: 170px;
    width: 100%;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: center;
}
.overlay h2 {
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1em;
}
.overlay p {
    padding: 0 3em;
    margin-top: .5em;
    margin-bottom: 0; 
}
.fa-long-arrow-alt-right{
    color: var(--secondary-color);
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
}
.what-we-do {
    background-image: url(https://loremflickr.com/400/400/leaves);   
}
.our-events {
    background-image: url(https://loremflickr.com/400/400/trees);
}
.our-projects {
    background-image: url(https://loremflickr.com/400/400/flowers);
}
.get-involved {
    background-image: url(https://loremflickr.com/400/400/plants);
}
.overlay-dark-blue {
    background-color: rgba(24, 21, 124, 0.8);
}
.overlay-light-blue {
    background-color: rgba(96, 173, 240, 0.8);
}
.overlay-green {
    background-color: rgba(144, 218, 113, 0.8);
}
.overlay-yellow {
    background-color: rgba(234, 222, 113, 0.8);
}

/*FOOTER*/
footer {
    display: flex;  
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    color: rgba(24, 21, 124, 0.7);
}
.about-us-hp p{
    text-align: left;
    padding-bottom: 0.5em;
}
.social-media ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto; 
    padding-bottom: 2em;
    color: var(--primary-color);
}
.contact ul {
    list-style-type: none;
    line-height: 1.5em;
    padding-left: 0;   
    margin-bottom: 2em;
}
.contact-title {
    font-weight: bolder;
}
.subscribe {
    border: 1px solid rgba(24, 21, 124, 0.2);
    padding: 1em;
    margin-bottom: 1em;  
}
label {
    color: rgba(24, 21, 124, 0.8);
    font-size: 1em;
    font-weight: bold;
}
input {
    width: 100%;
    height: 40px;
    margin-bottom: 1em;
    margin-top: 1.5em;
    background-color: rgba(24, 21, 124, 0.2);
    border: none;
    padding-left: 0.5em; 
}
input:focus {
    outline: 1px solid var(--primary-color);  
}
::placeholder {
    color: var(--primary-color);
    font-size: 1.2em;   
}
.subscribe button {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1em;
    padding: 0.5em 0;
    font-weight: bold;
    border: none;
}

/* ABOUT PAGE*/
.who-we-are {
    background-image: url(https://loremflickr.com/400/1000/leaves);   
}
.who-we-are .overlay {
    height: auto;
    font-family:'Nunito', sans-serif;
    font-size: 1em;
    padding-bottom: 1.5em;
}
.who-we-are .overlay p {
    text-align: left;
    padding: 1rem;
    margin: 0;
    font-size: 0.9rem;
    font-stretch: expanded; 
    line-height: 1.5;
}
.who-we-are .overlay h3 {
    color: rgba(234, 222, 113);
    text-align: left;
    font-size: 1.4em;
    padding-left: 1rem;
    margin-bottom: 0;
    margin-top: 3em;
    font-family:'Oswald', sans-serif;
}
.who-we-are .overlay h1 {
    font-size: 3em;
    text-align: left;
    padding-left: 1rem;
    line-height: 1;
    font-family:'Oswald', sans-serif;
    padding-right: 2em; 
}
/*END OF ABOUT PAGE*/

/*NEWS PAGE*/
.news-intro {
    background-image: url(https://loremflickr.com/500/1000/leaves);   
    background-attachment: fixed;
    height: 300px;
}
.news-intro>.overlay-dark-blue {
    height: 300px;  
    text-align: left;
    padding-left: 1em;   
}
.news-intro h3 {
    color: rgba(234, 222, 113);
    text-align: left;
    font-size: 1.4em;
    font-family:'Oswald', sans-serif;
    margin-bottom: 1rem;
}
.news-intro h1 {
    font-size: 50px;
    margin-top: 0;
    font-family:'Oswald', sans-serif;
    line-height: 1;
    width: 60%;
}
.wrapper-search-box {
    background-color:  rgba(234, 222, 113);
}
#news-search {
    background-color:  rgba(234, 222, 113);
    margin-left: 1rem;
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
}
#news-search::before {
    content: "\f002";  
    font-family: "FontAwesome";
    height: 40px;
    position: absolute;
    top: 0;
    right:10px;
}
#news-search:focus {
    border-bottom: 1px solid rgba(158, 157, 157,1);
    outline: none;
    width: 90%;
    margin-left: 1rem;
}
#news-search:focus::placeholder {
    color:rgba(158, 157, 157,1);
}
.wrapper-news-item {
    display: flex;
    flex-direction: column;
}
.news-image-1 {
    background-image: url(https://loremflickr.com/500/200/jungle);
    height: 200px;
}
.news-image-2 {
    background-image: url(https://loremflickr.com/500/200/monkey);
    height: 200px;
}
.news-image-3 {
    background-image: url(https://loremflickr.com/500/200/iguana);
    height: 200px;
}
.news-h2 {
    margin: 0;
    padding: 1.5rem;
    color: rgba(65,65,65,1);
    font-family:'Oswald', sans-serif;
}
/*Ellipsis*/
.news-p {
    font-size: 1em;
    color: rgba(65,65,65,1);
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    padding-left: 1.5em;
    padding-right: 2em;
}
.news-p::before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1em;
}
.news-p::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
}
/*Social Media*/
.news-social-media ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    display: none;
}
/*Comments*/
.news-comments {
    display:flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid  rgba(158, 157, 157,1);
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.8em;
}
.fa-eye {
    color: rgba(158, 157, 157,1);
    padding-right: 1em;
}
.news-comments p {
    margin-top: 0;
    color: rgba(158, 157, 157,1);
    flex-grow: 2;
}
.fa-heart {
    color: #e84a43;
}
.news-footer-social-media {
    background-image: url(https://loremflickr.com/400/1000/leaves);   
    background-attachment: fixed; 
    width: 100vw;
    margin-left: -1em;
    height: 60px;
}
.news-footer-social-media>.overlay-dark-blue{
    background-color: rgba(167,216,162,0.9);
    height: 60px;
    text-align: center;
}
.news-footer-social-media ul {    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    padding-left: 0;
    height: 100%;
    font-size: 1.5em;
}
.news-footer-social-media .fa-facebook-f,
.news-footer-social-media .fa-twitter,
.news-footer-social-media .fa-instagram {
    color: #fff;
    text-shadow: 2px 2px   rgb(151, 148, 148);
}


/*QUESTIONS:
why does the overlay not work if the html elements have both the section and the overlay classes: 
<div class="overlay get-involved">* It only works if I delete the section class

-NEWS: Why doesn't the search icon (before) appear?

*/
